{%- extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{%- block expand_header %}
    {% if '/css/leaflet.min.css'|asseturl == empty %}
        <link rel="stylesheet" href="{{ '/css/leaflet.css'|asseturl }}" />
    {% else -%}
        <link rel="stylesheet" href="{{ '/css/leaflet.min.css'|asseturl }}" />
    {% endif -%}
    {% if '/js/leaflet.min.js'|asseturl == empty %}
        <script src="{{ '/js/leaflet.js'|asseturl }}"></script>
    {% else -%}
        <script src="{{ '/js/leaflet.min.js'|asseturl }}"></script>
    {% endif -%}
    {% if '/css/lightgallery.min.css'|asseturl == empty %}
        <link href="{{ '/css/lightgallery.css'|asseturl }}" rel="stylesheet">
    {% else -%}
        <link href="{{ '/css/lightgallery.min.css'|asseturl }}" rel="stylesheet">
    {% endif -%}
{%- endblock %}

{%- block expand_description %}
    <meta name="description" content="
  {%- if this.teaser -%}
    {{ this.teaser }}
  {%- else -%}
    {{ translator('description', 'translate', this.alt) }}
  {%- endif -%}
    " />
{%- endblock %}

{%- block body %}
<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>{{ this.title }}</h2>
      <p>{{ this.slogan }}</p>
    </header>

    <!-- Content -->
    <section id="content">
      {{ this.precontent }}
      <div id="mapid" class="image fit mapid"></div>
        <br/>
        {{ this.content }}
  {%- if this.project %} 
        <div class="lightgallery" class="row alt">
    {%- for blk in this.project.blocks %}
        {{ blk }}
    {%- endfor %}
        </div>
  {%- endif %}
    </section>
  </div>
</div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
      $('.lightgallery').lightGallery();
    });
  </script>
  {% if '/js/openstreetmap.min.js'|asseturl == empty %}
    <script src="{{ '/js/openstreetmap.js'|asseturl }}"></script>
  {% else -%}
    <script src="{{ '/js/openstreetmap.min.js'|asseturl }}"></script>
  {% endif %}
  {% if '/js/picturefill.min.js'|asseturl == empty %}
    <script src="{{ '/js/picturefill.js'|asseturl }}"></script>
  {% else -%}
    <script src="{{ '/js/picturefill.min.js'|asseturl }}"></script>
  {% endif %}
  {% if '/js/lightgallery-all.min.js'|asseturl == empty %}
    <script src="{{ '/js/lightgallery-all.js'|asseturl }}"></script>
  {% else -%}
    <script src="{{ '/js/lightgallery-all.min.js'|asseturl }}"></script>
  {% endif %}
  {% if '/js/jquery.mousewheel.min.js'|asseturl == empty %}
    <script src="{{ '/js/jquery.mousewheel.js'|asseturl }}"></script>
  {% else -%}
    <script src="{{ '/js/jquery.mousewheel.min.js'|asseturl }}"></script>
  {% endif %}
{%- endblock %}
